html {
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.containera {
  width: 90%;
  margin: auto;
  overflow: hidden;
}



header {
  background: #bbc6ca;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure header is above other content */
  /* border-bottom: 1px solid red; Temporary border to check the actual bottom */
  }

header::after {
  content: '';
  display: table;
  clear: both;
}

header img{
  max-width: 15%;
  padding-top: 1%;
}

nav {
  float: right;
}

nav a {
  display: inline-block;
  color: #333;
  text-decoration: none;
  padding: 15px 20px;
  font-weight: bold;
  transition: background-color 0.3s; /* Smooth background color transition */
}

nav a:hover {
  background-color: #FF914D; /* Change the color to your preference */
  color: #333; /* Change text color to maintain contrast if needed */
}

#about {
  padding-top: 5%;
}


.welcome-text {
  float: right;
  max-width: 100vh;
  padding-right: 7%;
  overflow: hidden;
  margin-top: -37%;
}




@media (max-width: 768px) {
  .welcome-text h1, .welcome-text p {
    font-size: smaller; /* Adjust font size for small screens */
  }
}

.welcome-text h1 {
  padding-left: 12%;
  margin-top: -60%;
}


.welcome-text p {
  font-size: 1.1em;
  margin-top: -70%;
  padding-left: 0%;
  text-align: center;
  /* max-width: 80%; */
  margin-left: 10%;
}

.welcome-image {
  float: left;
  margin-left: 10%;
  margin-top: 5%;
}


.welcome-image img {
  max-width: 30%;
}


.type span{
  display:inline-block;
  }

  .type h1{
    overflow: hidden;
    white-space: nowrap;
  /*     background-color:green; */
  }
  .type {
    font-family: "Montserrat", sans-serif;

    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .type h1 span:nth-of-type(1){
    animation-name:developer;
    animation-duration:12s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(9);
   background-color: #FF914D;
    
  }
  .type h1 span:nth-of-type(2){
    animation-name:design;
    animation-duration:12s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(11);
    background-color: #FF914D;
  }
  .type h1 span:nth-of-type(3){
    animation-name: prog ;
    animation-duration:12s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(9);
    background-color: #FF914D;
  }
  
  .type h1 span:nth-of-type(4){
    animation-name: cross ;
    animation-duration:12s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(12);
    background-color: #FF914D;
  }
  
  /* @keyframes developer{
    0%,30%,100%{
      width:0;
    }
    15% ,22.5%{
     width: calc(12px * 12);
    }
  }
  @keyframes design{
    0%,30%,60%,100%{
      width:0;
    }
    45%,50%{
      width: calc(12px * 20);
    }
  }
    @keyframes prog{
    0%,60%,90%,100%{
      width:0;
    }
    75%,82%{
       width: calc(12px * 14);
    }
  }

  @keyframes cross{
    0%, 100%{
      width:0;
    }
    80%,95%{
       width: calc(12px * 20);
    }
  }
 */

 @keyframes developer {
  0%, 25%, 100% {
    width: 0;
  }
  10%, 20% {
    width: calc(15px * 13); /* Adjusted to reflect the length of "ux desinger" */
  }
}

@keyframes design {
  0%, 25%, 50%, 75%, 100% {
    width: 0;
  }
  30%, 45% {
    width: calc(15px * 20); /* Adjusted for "front end developer" */
  }
}

@keyframes prog {
  0%, 50%, 75%, 100% {
    width: 0;
  }
  55%, 70% {
    width: calc(15px * 12); /* Adjusted for "visual artist" */
  }
}

@keyframes cross {
  0%, 75%, 100% {
    width: 0;
  }
  80%, 95% {
    width: calc(15px * 21); /* Adjusted for "crossword enthusiast" */
  }
}





/* Base styles */
body {
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 100;
font-style: normal;
color: #333;
line-height: 1.6;
margin: 0;
padding: 0;
background-color: #bbc6ca;
}

/*switch styles*/

label {
font-size: 13px;
color: #424242;
font-weight: 500;
}

.btn-container {
margin-top: 5%;
text-align: center;
}

.btn-color-mode-switch{
display: inline-block;
margin: 0px;
position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner{
margin: 0px;
width: 140px;
height: 30px;
background-color: #E0E0E0;
border-radius: 26px;
overflow: hidden;
position: relative;
transition: background-color 0.4s ease-in-out;
/*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before{
content: attr(data-on);
position: absolute;
font-size: 12px;
font-weight: 500;
top: 7px;
right: 10px;

}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
content: attr(data-off);
width: 70px;
height: 16px;
background: #FF914D;
border-radius: 26px;
position: absolute;
left: 2px;
top: 2px;
text-align: center;
transition: all 0.3s ease;
box-shadow: 0px 0px 6px -2px #111;
padding: 5px 0px;
}

.btn-color-mode-switch > .alert{
display: none;
background: #FF9800;
border: none;
color: orange;
}

.btn-color-mode-switch input[type="checkbox"]{
cursor: pointer;
width: 50px;
height: 25px;
opacity: 0;
position: absolute;
top: 0;
z-index: 1;
margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
background: #E0E0E0;
color: #333;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
content: attr(data-on);
left: 68px;
background: #FF914D;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before{
content: attr(data-off);
right: auto;
left: 15px;
}


.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert{
display: block;
}

/* .portfolio {
display: flex;
align-items: center; 
justify-content: space-between; 
height: 300px;
margin-top: 5%;
margin-bottom: 15%;
margin-left: 10%
} */

/* .work {
padding: 2% 10% 5% 2%;
} */

.portfolio {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
gap: 20px;
padding-top: 8%;
}

.portfolio-item {
display: flex;
align-items: center; /* Align items vertically */
justify-content: space-between; /* Space between text and image */
width: 100%; /* Adjust based on preference */
margin-bottom: 7rem; /* Adds space between portfolio items */
position: relative;
/* min-height: 400px; */
}

.portfolio-text, .portfolio-image {
flex: 1; /* Allows text and image to take up equal space */
}

/* .portfolio-text {
max-width: 20%;
padding-right: 5%;
padding-left: 10%;
position: relative;
display: inline-block;
} */

.portfolio-text {
  display: flex;
  flex-direction: column;
  justify-content: center; /* This will center the content vertically */
  position: relative; /* Ensures that .highlight is positioned relative to this container */
  padding-right: 5%;
  padding-left: 10%;
}

.portfolio-image img {
width: 100%; 
height: auto; 
}

.portfolio-image {
max-width: 40%;
padding-right: 5%;
}

/* .portfolio-text h1 {
  position: relative; 
  display: inline-block;
  color: #333;

} */


.highlight {
display: inline-block;
position: absolute;
background-color: #FF914D;
height: 40px; 
width: 0%;
transition: width 0.5s;
transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
margin-top: 1.4%;
z-index: -1;
top: 20%; 
transform: translateY(-50%); 
}



.portfolio-item:hover .highlight {
width: 300px; 
}

@media (max-width: 1024px) {
.portfolio-text {
  max-width: 30%; /* Adjusted for medium screens */
}
/* Add any necessary adjustments for .highlight here */
}

@media (max-width: 768px) {
.portfolio-text {
  max-width: 40%; /* Adjusted for small screens */
  padding-right: 2%; /* Potentially adjust padding */
  padding-left: 5%;
}
/* Adjust .highlight positioning/sizing for small screens */
}

@media (max-width: 480px) {
.portfolio-text {
  max-width: 50%; /* Adjusted for extra small screens */
  padding: 0 10px; /* Example padding adjustment */
}
/* Adjust .highlight for extra small screens */
}




/*

.portfolio-item:hover .portfolio-text h1 {
background-color: #F2BB05; 
} */




/* fhviweujfvoiwejo;iwej;ovjweo;fijvo;weifjv;oiewjovij */
/* .portfolio {
background-color: khaki;
display: flex;
flex-direction: column; 
align-items: center; 
margin-top: 5%;
margin-bottom: 15%;
margin-left: 5%;
width: 100%
}


.portfolio h1, .portfolio p {
max-width: 35%;
display: block;
font-size: 110%;

} 


.portfolio img{
float: right;
margin-right: 10%;
margin-top: -10%;
transition: 0.5s ease;
padding-left: 10%;
padding-bottom: 15%;
} */

/* fekjvhliwjhofvw;oefhvoweofvijhwoehjfv */

/* .portimg1{
max-width: 40%; */
/* border-radius: 40% 60%;  */
/* opacity: 0; */
/* } */

/* #port1:hover img{
opacity: 1;
}

#port2:hover img{
opacity: 1;
} */

/* .portimg2{ */
/* border-radius: 70% 40%; */
/* max-width: 40%; kjedsf;klewjifo;jwe;ilfj;oiwejf */
/* opacity: 0; */
/* } */

/* .portfolio:hover portimg1{
opacity: 1;
} */


.fun-image img {
  width: 450px; 
  height: auto; 
  }
  
.fun-image {
  padding-right: 7%;
  }



/* .funimg1 {
max-width: 70%;
margin-left: 13%; 
}

.funimg3 {
max-width: 70%;
margin-left: 13%; 
}

.funimg4 {
max-width: 40%;
margin-left: 23%; 
}

.funimg5 {
max-width: 50%;
margin-left: 20%; 
}

.fun-image img {
width: 100%; 
height: auto; 
}

.fun-image {
max-width: 50%; 
padding-right: 5%;
} */


/*

.portfolio-item:hover .portfolio-text h1 {
background-color: #F2BB05; 
} */




/* fhviweujfvoiwejo;iwej;ovjweo;fijvo;weifjv;oiewjovij */
/* .portfolio {
background-color: khaki;
display: flex;
flex-direction: column; 
align-items: center; 
margin-top: 5%;
margin-bottom: 15%;
margin-left: 5%;
width: 100%
}


.portfolio h1, .portfolio p {
max-width: 35%;
display: block;
font-size: 110%;

} 





/* Contact section styles */

/* #contact {
  background-image: url('images/test5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 50px 0;
} */


#contact {
  background-color: #333;
  text-align: center;
  padding: 50px 0;
  margin-bottom: 0px;
}

#contact img{
  max-width: 50%;
}

#contact h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #fff;
  /* max-width: 35%; */
  text-align: center;
}

#contact p {
  margin-bottom: 2rem;
  color: #aaa;
}

/* Form styles */
form {
  max-width: 600px;
  margin: 0 auto;
}

form label {
  margin-top: 1rem;
  color: #aaa;
  text-transform: uppercase;
  font-size: 0.875rem;
  display: block;
  text-align: left;
}

form input, form textarea {
  width: calc(100% - 20px); /* Full width minus padding */
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #aaa; /* Line under inputs */
  margin-bottom: 2rem; 
  padding: 10px;
  color: #fff;
  font-size: 1rem;
}

form input::placeholder, form textarea::placeholder {
  color: #555;
}

form input:focus, form textarea:focus {
  outline: none;
  border-bottom-color: #FF914D; /* Highlight color when focused */
}

form button[type="submit"] {
  background-color: #FF914D; /* Submit button background color */
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

form button[type="submit"]:hover {
  background-color: #e07a3d; /* Darker shade for hover effect */
}



/* Responsive styles */
@media (max-width: 768px) {
  form input, form textarea {
    width: calc(100% - 40px); /* Adjust width on smaller screens */
  }
}

@media (max-width: 480px) {
  #contact h1 {
    font-size: 2rem; /* Smaller font size for smaller screens */
  }
}


.form-footer {
  display: flex;
  justify-content: space-between; /* This ensures elements are placed at the ends */
  align-items: center;
}

.form-footer .h-captcha {
  flex: 0 1 auto; /* Do not grow, but allow shrinkage */
  margin-right: auto; /* Pushes everything else to the right */
}

form button[type="submit"] {
  flex: 0 1 auto; /* Do not grow, but allow shrinkage */
  margin-left: auto; /* Pushes everything else to the left */
}

/* Height settings */
form button[type="submit"], .h-captcha {
  height: 50px; /* Fixed height for both */
}



/* fekjvhliwjhofvw;oefhvoweofvijhwoehjfv */

/* .portimg1{
max-width: 40%; */
/* border-radius: 40% 60%;  */
/* opacity: 0; */
/* } */

/* #port1:hover img{
opacity: 1;
}

#port2:hover img{
opacity: 1;
} */

/* .portimg2{ */
/* border-radius: 70% 40%; */
/* max-width: 40%; kjedsf;klewjifo;jwe;ilfj;oiwejf */
/* opacity: 0; */
/* } */

/* .portfolio:hover portimg1{
opacity: 1;
} */



/* footer {
  background: #bbc6ca;
  color: #333;
  text-align: center;
  padding-bottom: 2%;
  bottom: 0;
  width: 100%;
} */



#contact i {
  font-size: 150%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 15%;
  padding-bottom: -30%;
  text-align: center;
  color: #aaa;
}
