html {
  scroll-behavior: smooth;
}


/* Base styles */
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #bbc6ca;
  }

/* Container styles */
.container, .containera {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

/* Header styles */
header {
  background: #bbc6ca;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure header is above other content */
  }

header img{
  max-width: 15%;
  padding-top: 1%;
}

nav {
  float: right;
}

nav a {
  display: inline-block;
  color: #333;
  text-decoration: none;
  padding: 15px 20px;
  font-weight: bold;
  transition: background-color 0.3s; /* Smooth background color transition */
}

nav a:hover {
  background-color: #FF914D; /* Change the color to your preference */
  color: #333; /* Change text color to maintain contrast if needed */
}

/* Hamburger Menu Styles */
#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 15px; /* Adjust as needed */
  right: 17px; /* Adjust as needed */
  z-index: 1001; /* Ensure it is above other elements */
}

.menu-icon span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #333;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  nav {
    display: none;
    width: 100%;
    text-align: center;
  }

  nav a {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }

  #menu-toggle:checked + .menu-icon + nav {
    display: block;
  }

  header img {
    max-width: 23%; /* Make the header image larger on smaller screens */
  }
}

/* About section styles */
#about {
  padding-top: 5%;
}


.welcome-text {
  float: right;
  max-width: 100vh;
  padding-right: 7%;
  overflow: hidden;
  margin-top: -37%;
}


.welcome-text h1 {
  padding-left: 12%;
  margin-top: -60%;
  font-size: 1.3em;
}

.welcome-text p {
  font-size: 1.1em;
  margin-top: -70%;
  padding-left: 0%;
  text-align: center;
  /* max-width: 80%; */
  margin-left: 10%;
}

.welcome-image {
  float: left;
  margin-left: 10%;
  margin-top: 5%;
}

.welcome-image img {
  max-width: 30%;
}

/* Typing effect */
.type span {
  display:inline-block;
}

  .type h1 {
    overflow: hidden;
    white-space: nowrap;
  }

  .type {
    font-family: "Montserrat", sans-serif;

    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .type h1 span:nth-of-type(1){
    animation-name:developer;
    animation-duration:12s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(11); 
   background-color: #FF914D;
    
  }
  .type h1 span:nth-of-type(2){
    animation-name:design;
    animation-duration:12s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(18);
    background-color: #FF914D;
  }
  .type h1 span:nth-of-type(3){
    animation-name: prog ;
    animation-duration:12s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(11);
    background-color: #FF914D;
  }
  
  .type h1 span:nth-of-type(4){
    animation-name: cross ;
    animation-duration:12s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(20);
    background-color: #FF914D;
  }
  


 @keyframes developer {
  0%, 25%, 100% {
    width: 0;
  }
  10%, 20% {
    /* width: calc(15px * 13);  */
    width: 11ch;
  }
}

@keyframes design {
  0%, 25%, 50%, 75%, 100% {
    width: 0;
  }
  30%, 45% {
    /* width: calc(15px * 20);  */
    /* Adjusted for "front end developer" */
    width: 18ch
  }
}

@keyframes prog {
  0%, 50%, 75%, 100% {
    width: 0;
  }
  55%, 70% {
    /* width: calc(15px * 12);  */
    /* Adjusted for "visual artist" */
    width: 11ch

  }
}

@keyframes cross {
  0%, 75%, 100% {
    width: 0;
  }
  80%, 95% {
    /* width: calc(15px * 21);  */
    /* Adjusted for "crossword enthusiast" */
    width: 20ch
  }
}



/* Responsive styles for typing effect */
@media (max-width: 1024px) {
  .type {
    font-size: 1.2em;
    padding: 0 1em;
  }

  .type h1 {
    font-size: 1em;
  }

  .type h1 span {
    display: inline-block;
    margin: 0.5em 0;
  }

}

@media (max-width: 768px) {
  .type {
    font-size: 1em;
    padding: 0 0.1em;
  }

  .type h1 {
    font-size: 1em;
  }

  .type h1 span {
    display: inline-block;
    margin: 0.4em 0;
  }
}

@media (max-width: 480px) {
  .type {
    font-size: 0.4em;
    padding: 0 0.2em;
  }

  .type h1 {
    font-size: 0.3em;
  }

  .type h1 span {
    display: inline-block;
    margin: 0.3em 0;
  }
}
/* Responsive styles */


@media (max-width: 768px) {
  .welcome-text h1, .welcome-text p {
      font-size: smaller;
  }

  .welcome-text {
      max-width: 100%;
      text-align: center;
      /* padding-right: 0; */
  }

  .welcome-image {
      float: none;
      margin: 0 auto;
      text-align: center;
      max-width: 70%;
  }

  .welcome-text h1 {
    /* padding-left: 0; */
    margin-top: 0.5em;
  }

  .welcome-text p {
    margin-top: -20em;
  }

  header img {
    max-width: 30%; /* Make the header image even larger on very small screens */
    padding-top: 4%;
  }

}

@media (max-width: 480px) {

  .welcome-text {
    max-width: 100%;
    margin-top: 0;
    /* text-align: center; */
    /* padding-right: 0; */
}

.welcome-image {
  float: none;
  margin: 0 auto;
  text-align: center;
  max-width: 70%;
}

  .welcome-text h1 {
      font-size: 0.8em;
      /* padding-left: 0; */
      margin-top: -50em;
  }

  .welcome-text p {
      font-size: 1em;
      text-align: center;
      margin-top: -35em; 
  }

  header img {
    max-width: 30%;
    padding-top: 4%;
  }

}



label {
font-size: 13px;
color: #424242;
font-weight: 500;
}

.btn-container {
margin-top: 5%;
text-align: center;
}

.btn-color-mode-switch{
display: inline-block;
margin: 0px;
position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner{
margin: 0px;
width: 140px;
height: 30px;
background-color: #E0E0E0;
border-radius: 26px;
overflow: hidden;
position: relative;
transition: background-color 0.4s ease-in-out;
display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before{
content: attr(data-on);
position: absolute;
font-size: 12px;
font-weight: 500;
top: 7px;
right: 10px;

}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
content: attr(data-off);
width: 70px;
height: 16px;
background: #FF914D;
border-radius: 26px;
position: absolute;
left: 2px;
top: 2px;
text-align: center;
transition: all 0.3s ease;
box-shadow: 0px 0px 6px -2px #111;
padding: 5px 0px;
}

.btn-color-mode-switch > .alert{
display: none;
background: #FF9800;
border: none;
color: orange;
}

.btn-color-mode-switch input[type="checkbox"]{
cursor: pointer;
width: 50px;
height: 25px;
opacity: 0;
position: absolute;
top: 0;
z-index: 1;
margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
background: #E0E0E0;
color: #333;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
content: attr(data-on);
left: 68px;
background: #FF914D;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before{
content: attr(data-off);
right: auto;
left: 15px;
}


.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert{
display: block;
}


/* Portfolio section styles */

.portfolio {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
gap: 20px;
padding-top: 8%;
}

.portfolio-item {
display: flex;
align-items: center; 
justify-content: space-between; 
width: 100%; 
margin-bottom: 7rem; 
position: relative;
}

.portfolio-text, .portfolio-image {
flex: 1; 
}


.portfolio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; 
  padding-right: 5%;
  padding-left: 10%;
}

.portfolio-image img {
width: 100%; 
height: auto; 
}

.portfolio-image {
max-width: 40%;
padding-right: 5%;
}


.highlight {
display: inline-block;
position: absolute;
background-color: #FF914D;
height: 40px; 
width: 0%;
transition: width 0.5s;
transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
margin-top: 1.4%;
z-index: -1;
top: 20%; 
transform: translateY(-50%); 
}

.portfolio-item:hover .highlight {
width: 300px; 
}


.fun-image img {
  width: 450px; 
  height: auto; 
  }
  
.fun-image {
  padding-right: 7%;
  }

  @media (max-width: 1024px) {
    .portfolio-item {
        flex-direction: column;
    }
  
    .portfolio-text {
        max-width: 80%;
    }
  }
  
  @media (max-width: 768px) {
    .portfolio-text {
        max-width: 90%;
    }
  
    .portfolio-item {
        width: 100%;
    }

    .welcome-image img {
      max-width: 60%; /* Adjust the size for smaller screens */
    }

    .portfolio-image {
      max-width: 100%;
    }

    .fun-image {
      padding-right: 0;
      text-align: center;
      margin: 0 auto;
    }
    .fun-image img {
      max-width: 70%;
    }
  }

  @media (max-width: 480px) {
    .portfolio-text {
        max-width: 90%;
    }
  
    .portfolio-item {
        width: 100%;
    }

    .welcome-image img {
      max-width: 60%; /* Adjust the size for smaller screens */
    }

    .portfolio-image {
      max-width: 100%;
    }

    .fun-image {
      padding-right: 0;
      text-align: center;
      margin: 0 auto;
    }
    .fun-image img {
      max-width: 70%;
    }
  }


/* Contact section styles */

#contact {
  background-color: #333;
  text-align: center;
  padding: 50px 0;
  margin-bottom: 0px;
}

#contact img{
  max-width: 50%;
}

#contact p {
  margin-bottom: 2rem;
  color: #aaa;
}

/* Form styles */
form {
  max-width: 600px;
  margin: 0 auto;
}

form label {
  margin-top: 1rem;
  color: #aaa;
  text-transform: uppercase;
  font-size: 0.875rem;
  display: block;
  text-align: left;
}

form input, form textarea {
  width: calc(100% - 20px); /* Full width minus padding */
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #aaa; /* Line under inputs */
  margin-bottom: 2rem; 
  padding: 10px;
  color: #fff;
  font-size: 1rem;
}

form input::placeholder, form textarea::placeholder {
  color: #555;
}

form input:focus, form textarea:focus {
  outline: none;
  border-bottom-color: #FF914D; /* Highlight color when focused */
}

form button[type="submit"] {
  background-color: #FF914D; /* Submit button background color */
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

form button[type="submit"]:hover {
  background-color: #e07a3d; /* Darker shade for hover effect */
}


/* Responsive styles */
@media (max-width: 768px) {
  form input, form textarea {
    width: calc(100% - 40px); /* Adjust width on smaller screens */
  }

  #contact {
    padding-left: 10%;
    padding-right: 10%;
  }

  #contact img{
    max-width: 110%;
  }

  .form-footer {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
  }

  .form-footer .h-captcha, 
  form button[type="submit"] {
    width: 100%; /* Full width */
    margin-top: -10px;
  }

  form button[type="submit"] {
    margin-top: 50px; /* Add more space above the submit button */
  }

  form {
    padding: 0 20px; /* Add some padding to the form */
  }
}

@media (max-width: 480px) {
  #contact h1 {
    font-size: 2rem; /* Smaller font size for smaller screens */
  }

  #contact {
    padding-left: 15%;
    padding-right: 15%;
  }

  #contact img{
    max-width: 110%;
  }
}


.form-footer {
  display: flex;
  justify-content: space-between; /* This ensures elements are placed at the ends */
  align-items: center;
}

.form-footer .h-captcha {
  flex: 0 1 auto; /* Do not grow, but allow shrinkage */
  margin-right: auto; /* Pushes everything else to the right */
}

form button[type="submit"] {
  flex: 0 1 auto; /* Do not grow, but allow shrinkage */
  margin-left: auto; /* Pushes everything else to the left */
}

/* Height settings */
form button[type="submit"], .h-captcha {
  height: 50px; /* Fixed height for both */
}


#contact i {
  font-size: 150%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 15%;
  padding-bottom: -30%;
  text-align: center;
  color: #aaa;
}